.page-header
  %h1 Рецензии

.row-fluid
  %ul#reviews.thumbnails
    - reviews.comments.each do |review|
      %li.span4
        .thumbnail
          %h3= book_title_with_author(review.book)
          %p.text-justify
            = image_tag review.book.cover.thumb.url, class: "img-polaroid"
            = snippet(review)
          %p.text-right
            %small= link_to "Читать дальше", review_path(review)
.row-fluid
  %p
    %small
      = link_to "Добавить рецензию", new_review_path