.page-header
  %h1
    = book_title_with_author(review.book)

.row-fluid
  .span3
    %p
      = simple_form_for review.book, html: { multipart: true } do |f|
        = image_tag review.book.cover.url, alt: book_title_with_author(review.book)
        = f.input :cover, label: false
        - if review.book.cover.present?
          %label.checkbox
            = f.input :remove_cover, as: :boolean, label: false
            Удалить обложку
    %p
      %strong Оценка:
      = review.rating
    %p
      %small= link_to "Назад к списку рецензий", root_path
  .span9
    = simple_format review.body
.row-fluid
  .span6.offset3
    %p.muted
      %em
        Опубликовано
        = l review.created_at, format: :short
  .span3
    %p.text-right.muted
      %small
        = link_to "Редактировать", edit_review_path(review)
        или
        = link_to "удалить", reviews_path(review), method: :delete, confirm: "Точно?"
        ?