!!! 5
%html
  %head
    %title Книжная полка
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = auto_discovery_link_tag :atom, feed_path
    = auto_discovery_link_tag :rss, feed_path(format: 'rss')
    = csrf_meta_tags

  %body
    #content.container-fluid
      = yield
    .push

  %footer
    #footer
      .container
        .muted.credit
          2013. Powered by Guinness
          %sup> ®